@font-face {
  font-family: "Comfortaa-Bold";
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local("Comfortaa-Bold"), url("./Comfortaa-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Comfortaa-Regular";
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local("Comfortaa-regular"),
    url("./Comfortaa-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Comfortaa-SemiBold";
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local("Comfortaa-SemiBold"),
    url("./Comfortaa-SemiBold.woff2") format("woff2");
}
